/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../assets/fonts/LeagueGothic-Regular-webfont.eot");
  src: url("../assets/fonts/LeagueGothic-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LeagueGothic-Regular-webfont.woff") format("woff"), url("../assets/fonts/LeagueGothic-Regular-webfont.ttf") format("truetype"), url("../assets/fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicItalic';
  src: url("../assets/fonts/LeagueGothic-Italic-webfont.eot");
  src: url("../assets/fonts/LeagueGothic-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LeagueGothic-Italic-webfont.woff") format("woff"), url("../assets/fonts/LeagueGothic-Italic-webfont.ttf") format("truetype"), url("../assets/fonts/LeagueGothic-Italic-webfont.svg#LeagueGothicItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicCondensedRegular';
  src: url("../assets/fonts/LeagueGothic-CondensedRegular-webfont.eot");
  src: url("../assets/fonts/LeagueGothic-CondensedRegular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LeagueGothic-CondensedRegular-webfont.woff") format("woff"), url("../assets/fonts/LeagueGothic-CondensedRegular-webfont.ttf") format("truetype"), url("../assets/fonts/LeagueGothic-CondensedRegular-webfont.svg#LeagueGothicCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicCondensedItalic';
  src: url("../assets/fonts/LeagueGothic-CondensedItalic-webfont.eot");
  src: url("../assets/fonts/LeagueGothic-CondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LeagueGothic-CondensedItalic-webfont.woff") format("woff"), url("../assets/fonts/LeagueGothic-CondensedItalic-webfont.ttf") format("truetype"), url("../assets/fonts/LeagueGothic-CondensedItalic-webfont.svg#LeagueGothicCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DesyrelRegular';
  src: url("../assets/fonts/desyrel-webfont.eot");
  src: url("../assets/fonts/desyrel-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/desyrel-webfont.woff") format("woff"), url("../assets/fonts/desyrel-webfont.ttf") format("truetype"), url("../assets/fonts/desyrel-webfont.svg#DesyrelRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoRetroDrawRegular';
  src: url("../assets/fonts/NEORD___-webfont.eot");
  src: url("../assets/fonts/NEORD___-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NEORD___-webfont.woff") format("woff"), url("../assets/fonts/NEORD___-webfont.ttf") format("truetype"), url("../assets/fonts/NEORD___-webfont.svg#NeoRetroDrawRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoRetroFillRegular';
  src: url("../assets/fonts/NEORF___-webfont.eot");
  src: url("../assets/fonts/NEORF___-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NEORF___-webfont.woff") format("woff"), url("../assets/fonts/NEORF___-webfont.ttf") format("truetype"), url("../assets/fonts/NEORF___-webfont.svg#NeoRetroFillRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoRetroShadowRegular';
  src: url("../assets/fonts/NEORS___-webfont.eot");
  src: url("../assets/fonts/NEORS___-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NEORS___-webfont.woff") format("woff"), url("../assets/fonts/NEORS___-webfont.ttf") format("truetype"), url("../assets/fonts/NEORS___-webfont.svg#NeoRetroShadowRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArsenalRegular';
  src: url("../assets/fonts/Arsenal-Regular-webfont.eot");
  src: url("../assets/fonts/Arsenal-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Arsenal-Regular-webfont.woff") format("woff"), url("../assets/fonts/Arsenal-Regular-webfont.ttf") format("truetype"), url("../assets/fonts/Arsenal-Regular-webfont.svg#ArsenalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArsenalItalic';
  src: url("../assets/fonts/Arsenal-Italic-webfont.eot");
  src: url("../assets/fonts/Arsenal-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Arsenal-Italic-webfont.woff") format("woff"), url("../assets/fonts/Arsenal-Italic-webfont.ttf") format("truetype"), url("../assets/fonts/Arsenal-Italic-webfont.svg#ArsenalItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArsenalBold';
  src: url("../assets/fonts/Arsenal-Bold-webfont.eot");
  src: url("../assets/fonts/Arsenal-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Arsenal-Bold-webfont.woff") format("woff"), url("../assets/fonts/Arsenal-Bold-webfont.ttf") format("truetype"), url("../assets/fonts/Arsenal-Bold-webfont.svg#ArsenalBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArsenalBoldItalic';
  src: url("../assets/fonts/Arsenal-BoldItalic-webfont.eot");
  src: url("../assets/fonts/Arsenal-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Arsenal-BoldItalic-webfont.woff") format("woff"), url("../assets/fonts/Arsenal-BoldItalic-webfont.ttf") format("truetype"), url("../assets/fonts/Arsenal-BoldItalic-webfont.svg#ArsenalBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anonymousregular';
  src: url("../assets/fonts/Anonymous-webfont.eot");
  src: url("../assets/fonts/Anonymous-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Anonymous-webfont.woff") format("woff"), url("../assets/fonts/Anonymous-webfont.ttf") format("truetype"), url("../assets/fonts/Anonymous-webfont.svg#anonymousregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 174, ../_sass/base/_typography.scss */
ol {
  list-style: decimal;
  margin: 0 40px;
}
/* line 178, ../_sass/base/_typography.scss */
ol li {
  font-family: "ArsenalRegular";
  font-size: 20px;
  line-height: 140%;
}

/* line 186, ../_sass/base/_typography.scss */
p code, ul li code {
  margin-left: 5px;
  background: #eee;
  color: #ad3d00;
  font-size: .8em;
  line-height: 100%;
}

/* line 195, ../_sass/base/_typography.scss */
pre, code, pre *, code * {
  font-family: "anonymousregular", "Courier New", Courier, monospace;
}

/* line 200, ../_sass/base/_typography.scss */
.highlight pre, .highlight code, .highlight pre *, .highlight code * {
  margin-left: 0;
  line-height: 140%;
  font-size: 1em;
  background: transparent;
}

/* line 208, ../_sass/base/_typography.scss */
blockquote {
  margin-left: 50px;
  border-left: 4px solid #ccc;
  padding: 10px 50px 10px 10px;
  color: #666;
}

/* line 41, ../_sass/base/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../_sass/base/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../_sass/base/_grid.scss */
body:after {
  clear: both;
}

/*
 * Global Styles
 */
/* line 18, ../_sass/base/_layout.scss */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #ad3d00;
}
/* line 23, ../_sass/base/_layout.scss */
a:hover {
  text-decoration: none;
}

/* line 28, ../_sass/base/_layout.scss */
p a:hover {
  text-decoration: underline;
}

/* line 32, ../_sass/base/_layout.scss */
p, ul li, p a:link, p a:visited, p a:active {
  font-family: "ArsenalRegular";
  font-size: 16px;
  line-height: 140%;
}

/* line 43, ../_sass/base/_layout.scss */
header#main-header {
  height: 100px;
  border-bottom: 5px solid #322a26;
  -webkit-box-shadow: 0px 3px 10px 1px #322a26;
  box-shadow: 0px 3px 10px 1px #322a26;
  background: url(/images/header_bg.png) 50% 50% no-repeat;
  background-size: 100% auto;
  z-index: 10;
  position: relative;
}
/* line 53, ../_sass/base/_layout.scss */
header#main-header div {
  padding-top: 15px;
  text-shadow: 1px 1px 10px #ad3d00;
  z-index: 10;
  position: relative;
  filter: dropshadow(color=#ad3d00, offx=1, offy=1);
  display: inline;
  float: left;
  width: 98.80952%;
  margin: 0 0.59524%;
}
/* line 62, ../_sass/base/_layout.scss */
header#main-header div h1 {
  display: inline-block;
}
/* line 64, ../_sass/base/_layout.scss */
header#main-header div h1 a:link, header#main-header div h1 a:visited, header#main-header div h1 a:active {
  font-family: "LeagueGothicRegular";
  color: #000;
  font-size: 90px;
}
/* line 70, ../_sass/base/_layout.scss */
header#main-header div h2 {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}
/* line 74, ../_sass/base/_layout.scss */
header#main-header div h2 a:link, header#main-header div h2 a:visited, header#main-header div h2 a:active {
  font-family: "DesyrelRegular";
  color: #c49f91;
  font-size: 25px;
}
/* line 81, ../_sass/base/_layout.scss */
header#main-header div nav {
  float: right;
}
/* line 83, ../_sass/base/_layout.scss */
header#main-header div nav ul {
  list-style: none;
  vertical-align: top;
  margin-top: 30px;
  text-align: right;
}
/* line 89, ../_sass/base/_layout.scss */
header#main-header div nav ul li {
  display: inline-block;
}
/* line 93, ../_sass/base/_layout.scss */
header#main-header div nav ul li a:visited, header#main-header div nav ul li a:active, header#main-header div nav ul li a:link {
  font-size: 2.5em;
  font-family: "LeagueGothicRegular";
  color: black;
  padding: 6px 6px 2px;
  margin: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -ms-transition: 300ms ease-in;
  text-shadow: 1px 1px 10px #ad3d00;
  filter: dropshadow(color=#ad3d00, offx=1, offy=1);
}
/* line 104, ../_sass/base/_layout.scss */
header#main-header div nav ul li a:hover, header#main-header div nav ul li a.current {
  border-bottom: 5px solid black;
}

/* line 114, ../_sass/base/_layout.scss */
div#main-content {
  *zoom: 1;
}
/* line 27, ../_sass/base/_grid.scss */
div#main-content:before, div#main-content:after {
  content: "";
  display: table;
}
/* line 31, ../_sass/base/_grid.scss */
div#main-content:after {
  clear: both;
}
/* line 116, ../_sass/base/_layout.scss */
div#main-content > div {
  display: inline;
  float: left;
  width: 98.80952%;
  margin: 0 0.59524%;
  padding-top: 50px;
  padding-bottom: 110px;
}

/* line 123, ../_sass/base/_layout.scss */
footer#main-footer {
  *zoom: 1;
  border-top: 5px solid #2e2621;
  background: #1d1d1d url(/images/footer_bg.png) repeat-x top left;
  display: block;
}
/* line 27, ../_sass/base/_grid.scss */
footer#main-footer:before, footer#main-footer:after {
  content: "";
  display: table;
}
/* line 31, ../_sass/base/_grid.scss */
footer#main-footer:after {
  clear: both;
}
/* line 132, ../_sass/base/_layout.scss */
footer#main-footer > div {
  display: inline;
  float: left;
  width: 98.80952%;
  margin: 0 0.59524%;
  padding-top: 30px;
}
/* line 136, ../_sass/base/_layout.scss */
footer#main-footer > div p {
  font-family: "NeoRetroFillRegular";
  text-transform: uppercase;
  color: #e5d6b9;
  font-size: 18px;
}
/* line 142, ../_sass/base/_layout.scss */
footer#main-footer > div p a:link, footer#main-footer > div p a:visited, footer#main-footer > div p a:active {
  color: #f9f9f9;
  text-decoration: none;
}
/* line 147, ../_sass/base/_layout.scss */
footer#main-footer > div p a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 155, ../_sass/base/_layout.scss */
footer#main-footer > div section#currentProfessionalInterests h1, footer#main-footer > div section#currentProfessionalInterests h2,
footer#main-footer > div section#upcomingEvents h1,
footer#main-footer > div section#upcomingEvents h2 {
  font-family: "LeagueGothicRegular";
  color: #f9f9f9;
  letter-spacing: .06em;
}
/* line 161, ../_sass/base/_layout.scss */
footer#main-footer > div section#currentProfessionalInterests h1,
footer#main-footer > div section#upcomingEvents h1 {
  font-size: 55px;
}
/* line 165, ../_sass/base/_layout.scss */
footer#main-footer > div section#currentProfessionalInterests h2,
footer#main-footer > div section#upcomingEvents h2 {
  font-size: 32px;
}
/* line 169, ../_sass/base/_layout.scss */
footer#main-footer > div section#currentProfessionalInterests article,
footer#main-footer > div section#upcomingEvents article {
  margin-top: 32px;
}
/* line 174, ../_sass/base/_layout.scss */
footer#main-footer > div section#currentProfessionalInterests {
  display: inline;
  float: left;
  width: 57.14286%;
  margin: 0 0.59524%;
}
/* line 178, ../_sass/base/_layout.scss */
footer#main-footer > div section#upcomingEvents {
  display: inline;
  float: left;
  width: 40.47619%;
  margin: 0 0.59524%;
}
/* line 181, ../_sass/base/_layout.scss */
footer#main-footer > div section#upcomingEvents h2 {
  padding-right: 60px;
  color: #e5d6b9;
  font-size: 28px;
}
/* line 187, ../_sass/base/_layout.scss */
footer#main-footer > div section#upcomingEvents p {
  width: 380px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .08em;
  color: #f9f9f9;
}
/* line 195, ../_sass/base/_layout.scss */
footer#main-footer > div section#upcomingEvents p a:link, footer#main-footer > div section#upcomingEvents p a:visited, footer#main-footer > div section#upcomingEvents p a:active {
  color: #e5d6b9;
}
/* line 202, ../_sass/base/_layout.scss */
footer#main-footer > div section#copyright {
  display: inline;
  float: left;
  width: 98.80952%;
  margin: 0 0.59524%;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 30px;
}
/* line 208, ../_sass/base/_layout.scss */
footer#main-footer > div section#copyright p {
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 979px) and (max-width: 1199px) {
  /* line 219, ../_sass/base/_layout.scss */
  header#main-header div nav ul li a:link, header#main-header div nav ul li a:visited, header#main-header div nav ul li a:active {
    font-size: 20px;
  }
}
@media (max-width: 1052px) {
  /* line 227, ../_sass/base/_layout.scss */
  header#main-header {
    height: 170px;
  }
  /* line 229, ../_sass/base/_layout.scss */
  header#main-header div nav {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 232, ../_sass/base/_layout.scss */
  header#main-header div nav ul {
    text-align: left;
    margin-top: 15px;
  }
  /* line 237, ../_sass/base/_layout.scss */
  header#main-header div nav ul li a:link, header#main-header div nav ul li a:visited, header#main-header div nav ul li a:active {
    font-size: 34px;
  }
}
@media (min-width: 600px) and (max-width: 979px) {
  /* line 247, ../_sass/base/_layout.scss */
  header#main-header div nav ul {
    margin-top: 15px;
  }

  /* line 251, ../_sass/base/_layout.scss */
  footer#main-footer > div section#upcomingEvents, footer#main-footer > div section#currentProfessionalInterests {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
    padding-bottom: 30px;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  /* line 259, ../_sass/base/_layout.scss */
  header#main-header {
    height: 130px;
  }
  /* line 261, ../_sass/base/_layout.scss */
  header#main-header div {
    padding-top: 5px;
  }
  /* line 264, ../_sass/base/_layout.scss */
  header#main-header div h1 {
    text-align: center;
    display: block;
    padding-top: 10px;
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 270, ../_sass/base/_layout.scss */
  header#main-header div h1 a:link, header#main-header div h1 a:visited, header#main-header div h1 a:active {
    font-size: 50px;
  }
  /* line 276, ../_sass/base/_layout.scss */
  header#main-header div h2 {
    display: none;
    visibility: hidden;
  }
  /* line 281, ../_sass/base/_layout.scss */
  header#main-header div nav ul {
    text-align: center;
  }
  /* line 285, ../_sass/base/_layout.scss */
  header#main-header div nav ul li a:link, header#main-header div nav ul li a:visited, header#main-header div nav ul li a:active {
    margin: 0;
    font-size: 24px;
  }

  /* line 296, ../_sass/base/_layout.scss */
  footer#main-footer > div section#upcomingEvents, footer#main-footer > div section#currentProfessionalInterests {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
    padding-bottom: 30px;
  }
  /* line 300, ../_sass/base/_layout.scss */
  footer#main-footer > div section#upcomingEvents p, footer#main-footer > div section#currentProfessionalInterests p {
    width: auto;
  }
  /* line 306, ../_sass/base/_layout.scss */
  footer#main-footer > div section#copyright p {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  /* line 314, ../_sass/base/_layout.scss */
  header#main-header {
    height: 130px;
  }
  /* line 316, ../_sass/base/_layout.scss */
  header#main-header div {
    padding-top: 0px;
  }
  /* line 319, ../_sass/base/_layout.scss */
  header#main-header div h1 {
    font-size: 50px;
    text-align: center;
    display: block;
    padding-top: 10px;
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 326, ../_sass/base/_layout.scss */
  header#main-header div h1 a:link, header#main-header div h1 a:visited, header#main-header div h1 a:active {
    font-size: 50px;
  }
  /* line 332, ../_sass/base/_layout.scss */
  header#main-header div h2 {
    display: none;
    visibility: hidden;
  }
  /* line 337, ../_sass/base/_layout.scss */
  header#main-header div nav ul {
    text-align: center;
    margin-top: 20px;
  }
  /* line 342, ../_sass/base/_layout.scss */
  header#main-header div nav ul li a:link, header#main-header div nav ul li a:visited, header#main-header div nav ul li a:active {
    margin: 0;
    font-size: 24px;
  }

  /* line 353, ../_sass/base/_layout.scss */
  footer#main-footer > div section#upcomingEvents, footer#main-footer > div section#currentProfessionalInterests {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
    padding-bottom: 30px;
  }
  /* line 357, ../_sass/base/_layout.scss */
  footer#main-footer > div section#upcomingEvents p, footer#main-footer > div section#currentProfessionalInterests p {
    width: auto;
  }
  /* line 363, ../_sass/base/_layout.scss */
  footer#main-footer > div section#copyright p {
    margin-bottom: 20px;
  }
}
/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 */
/* line 6, ../_sass/_syntax.scss */
.highlight pre, pre, .highlight .hll {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  font-family: sans-serif;
}

/* line 7, ../_sass/_syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* line 8, ../_sass/_syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* line 9, ../_sass/_syntax.scss */
.highlight .k {
  font-weight: bold;
}

/* line 10, ../_sass/_syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* line 11, ../_sass/_syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* line 12, ../_sass/_syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* line 13, ../_sass/_syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* line 14, ../_sass/_syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* line 15, ../_sass/_syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* line 16, ../_sass/_syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* line 17, ../_sass/_syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* line 18, ../_sass/_syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* line 19, ../_sass/_syntax.scss */
.highlight .gh {
  color: #999999;
}

/* line 20, ../_sass/_syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* line 21, ../_sass/_syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* line 22, ../_sass/_syntax.scss */
.highlight .go {
  color: #888888;
}

/* line 23, ../_sass/_syntax.scss */
.highlight .gp {
  color: #555555;
}

/* line 24, ../_sass/_syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* line 25, ../_sass/_syntax.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* line 26, ../_sass/_syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* line 27, ../_sass/_syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* line 28, ../_sass/_syntax.scss */
.highlight .kd {
  font-weight: bold;
}

/* line 29, ../_sass/_syntax.scss */
.highlight .kn {
  font-weight: bold;
}

/* line 30, ../_sass/_syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* line 31, ../_sass/_syntax.scss */
.highlight .kr {
  font-weight: bold;
}

/* line 32, ../_sass/_syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* line 33, ../_sass/_syntax.scss */
.highlight .m {
  color: #009999;
}

/* line 34, ../_sass/_syntax.scss */
.highlight .s {
  color: #dd1144;
}

/* line 35, ../_sass/_syntax.scss */
.highlight .n {
  color: #333333;
}

/* line 36, ../_sass/_syntax.scss */
.highlight .na {
  color: teal;
}

/* line 37, ../_sass/_syntax.scss */
.highlight .nb {
  color: #0086b3;
}

/* line 38, ../_sass/_syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* line 39, ../_sass/_syntax.scss */
.highlight .no {
  color: teal;
}

/* line 40, ../_sass/_syntax.scss */
.highlight .ni {
  color: purple;
}

/* line 41, ../_sass/_syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* line 42, ../_sass/_syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* line 43, ../_sass/_syntax.scss */
.highlight .nn {
  color: #555555;
}

/* line 44, ../_sass/_syntax.scss */
.highlight .nt {
  color: navy;
}

/* line 45, ../_sass/_syntax.scss */
.highlight .nv {
  color: teal;
}

/* line 46, ../_sass/_syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* line 47, ../_sass/_syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* line 48, ../_sass/_syntax.scss */
.highlight .mf {
  color: #009999;
}

/* line 49, ../_sass/_syntax.scss */
.highlight .mh {
  color: #009999;
}

/* line 50, ../_sass/_syntax.scss */
.highlight .mi {
  color: #009999;
}

/* line 51, ../_sass/_syntax.scss */
.highlight .mo {
  color: #009999;
}

/* line 52, ../_sass/_syntax.scss */
.highlight .sb {
  color: #dd1144;
}

/* line 53, ../_sass/_syntax.scss */
.highlight .sc {
  color: #dd1144;
}

/* line 54, ../_sass/_syntax.scss */
.highlight .sd {
  color: #dd1144;
}

/* line 55, ../_sass/_syntax.scss */
.highlight .s2 {
  color: #dd1144;
}

/* line 56, ../_sass/_syntax.scss */
.highlight .se {
  color: #dd1144;
}

/* line 57, ../_sass/_syntax.scss */
.highlight .sh {
  color: #dd1144;
}

/* line 58, ../_sass/_syntax.scss */
.highlight .si {
  color: #dd1144;
}

/* line 59, ../_sass/_syntax.scss */
.highlight .sx {
  color: #dd1144;
}

/* line 60, ../_sass/_syntax.scss */
.highlight .sr {
  color: #009926;
}

/* line 61, ../_sass/_syntax.scss */
.highlight .s1 {
  color: #dd1144;
}

/* line 62, ../_sass/_syntax.scss */
.highlight .ss {
  color: #990073;
}

/* line 63, ../_sass/_syntax.scss */
.highlight .bp {
  color: #999999;
}

/* line 64, ../_sass/_syntax.scss */
.highlight .vc {
  color: teal;
}

/* line 65, ../_sass/_syntax.scss */
.highlight .vg {
  color: teal;
}

/* line 66, ../_sass/_syntax.scss */
.highlight .vi {
  color: teal;
}

/* line 67, ../_sass/_syntax.scss */
.highlight .il {
  color: #009999;
}

/* line 68, ../_sass/_syntax.scss */
.highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}

/* line 3, ../_sass/pages/_home.scss */
div#main-content #home section h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 6, ../_sass/pages/_home.scss */
div#main-content #home section article.intro {
  display: inline;
  float: left;
  width: 57.14286%;
  margin: 0 0.59524%;
  padding-top: 40px;
}
/* line 10, ../_sass/pages/_home.scss */
div#main-content #home section article.intro h2 {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  background: url("/images/home-heading-text.png") top left no-repeat;
  width: 360px;
  height: 111px;
  margin: 0 auto 50px;
}
/* line 61, ../_sass/base/_utilities.scss */
div#main-content #home section article.intro h2:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* line 17, ../_sass/pages/_home.scss */
div#main-content #home section article.intro p {
  font-family: "NeoRetroFillRegular";
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 32px;
  width: 570px;
}
/* line 24, ../_sass/pages/_home.scss */
div#main-content #home section article.intro p.problems {
  font-size: 17px;
  letter-spacing: .10em;
}
/* line 29, ../_sass/pages/_home.scss */
div#main-content #home section article.intro p.pixels {
  letter-spacing: .05em;
  font-size: 14px;
}
/* line 35, ../_sass/pages/_home.scss */
div#main-content #home section article.intro ul {
  margin: 30px auto 0;
  width: 570px;
}
/* line 39, ../_sass/pages/_home.scss */
div#main-content #home section article.intro ul li {
  display: inline-block;
}
/* line 42, ../_sass/pages/_home.scss */
div#main-content #home section article.intro ul li a:link, div#main-content #home section article.intro ul li a:visited, div#main-content #home section article.intro ul li a:active {
  font-family: "LeagueGothicRegular";
  font-size: 2.8em;
  line-height: 150%;
  padding: 0 10px;
  color: #000;
  border-bottom: solid 4px #000;
  margin: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 100ms ease-in;
  -moz-transition: 100ms ease-in;
  -ms-transition: 100ms ease-in;
}
/* line 54, ../_sass/pages/_home.scss */
div#main-content #home section article.intro ul li a:hover {
  border-bottom: solid 8px #ad3d00;
  color: #ad3d00;
  -webkit-transition: color, 300ms, ease-out;
  -moz-transition: color, 300ms, ease-out;
  -o-transition: color, 300ms, ease-out;
  transition: color, 300ms, ease-out;
}
/* line 63, ../_sass/pages/_home.scss */
div#main-content #home section article.feature {
  display: inline;
  float: left;
  width: 40.47619%;
  margin: 0 0.59524%;
}
/* line 65, ../_sass/pages/_home.scss */
div#main-content #home section article.feature img {
  width: 100%;
}

@media (min-width: 600px) and (max-width: 979px) {
  /* line 75, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro, div#main-content #home section article.feature {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 79, ../_sass/pages/_home.scss */
  div#main-content #home section article.feature {
    text-align: center;
  }
  /* line 81, ../_sass/pages/_home.scss */
  div#main-content #home section article.feature img {
    margin-top: 50px;
    width: 80%;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  /* line 93, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro, div#main-content #home section article.feature {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 97, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro {
    padding-top: 0;
  }
  /* line 100, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro h2 {
    width: 300px;
    background-size: 300px auto;
    margin-bottom: 10px;
  }
  /* line 106, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro p, div#main-content #home section article.intro p.pixels, div#main-content #home section article.intro p.problems {
    width: 300px;
    font-size: 14px;
  }
  /* line 111, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro p.problems {
    font-size: 16px;
  }
  /* line 115, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro ul {
    text-align: center;
    width: 300px;
  }
  /* line 119, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro ul li {
    display: block;
  }
  /* line 125, ../_sass/pages/_home.scss */
  div#main-content #home section article.feature {
    text-align: center;
  }
  /* line 127, ../_sass/pages/_home.scss */
  div#main-content #home section article.feature img {
    margin-top: 30px;
    width: 80%;
  }
}
@media (max-width: 400px) {
  /* line 139, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro, div#main-content #home section article.feature {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 143, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro {
    padding-top: 0;
  }
  /* line 146, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro h2 {
    width: 300px;
    background-size: 300px auto;
    margin-bottom: 10px;
  }
  /* line 152, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro p, div#main-content #home section article.intro p.pixels, div#main-content #home section article.intro p.problems {
    width: 300px;
    font-size: 14px;
  }
  /* line 157, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro p.problems {
    font-size: 16px;
  }
  /* line 161, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro ul {
    margin-top: 10px;
    width: 300px;
    text-align: center;
  }
  /* line 166, ../_sass/pages/_home.scss */
  div#main-content #home section article.intro ul li {
    display: block;
  }
  /* line 172, ../_sass/pages/_home.scss */
  div#main-content #home section article.feature {
    text-align: center;
  }
  /* line 174, ../_sass/pages/_home.scss */
  div#main-content #home section article.feature img {
    margin-top: 30px;
    width: 80%;
  }
}
/* line 1, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio {
  margin: 0;
  width: 100%;
  padding-top: 0;
}
/* line 6, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 10, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio h2 {
  font-family: "LeagueGothicRegular";
  font-size: 24px;
}
/* line 15, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section {
  margin: 0;
  *zoom: 1;
}
/* line 27, ../_sass/base/_grid.scss */
div#main-content #portfolio section:before, div#main-content #portfolio section:after {
  content: "";
  display: table;
}
/* line 31, ../_sass/base/_grid.scss */
div#main-content #portfolio section:after {
  clear: both;
}
/* line 20, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources {
  background: #e3dcd1;
  margin: 0;
  z-index: 0;
  border-bottom: 3px solid #322a26;
  -webkit-box-shadow: 0px -3px 10px 1px #322a26 inset;
  box-shadow: 0px -3px 10px 1px #322a26 inset;
  text-align: center;
}
/* line 29, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources article {
  width: 24%;
  margin: 0;
  display: inline-block;
}
/* line 34, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources article a {
  position: relative;
  display: block;
  text-align: center;
  padding: 40px 8%;
  color: #322a26;
  -webkit-transition: background 200ms ease-in;
  -moz-transition: background 200ms ease-in;
  -o-transition: background 200ms ease-in;
  transition: background 200ms ease-in;
}
/* line 43, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources article a h2, div#main-content #portfolio section#sources article a p {
  -webkit-transition: color 200ms ease-in;
  -moz-transition: color 200ms ease-in;
  -o-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}
/* line 49, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources article a h2 {
  font-size: 32px;
  font-family: "NeoRetroFillRegular";
  border-bottom: #847872 5px solid;
}
/* line 55, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources article a p {
  font-size: 24px;
  font-family: "LeagueGothicRegular";
}
/* line 60, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources article a:hover {
  background: #322a26;
  cursor: pointer;
  color: #e3dcd1;
}
/* line 64, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#sources article a:hover p {
  color: #847872;
  text-decoration: none;
}
/* line 73, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites {
  display: inline;
  float: left;
  width: 98.80952%;
  margin: 0 0.59524%;
  padding: 50px 0;
}
/* line 78, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article p {
  color: #555;
}
/* line 82, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article p, div#main-content #portfolio section#favorites article a:link, div#main-content #portfolio section#favorites article a:visited, div#main-content #portfolio section#favorites article a:active {
  font-family: "ArsenalRegular";
  font-size: 24px;
}
/* line 87, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article header {
  margin-bottom: 20px;
}
/* line 90, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article header h2 {
  font-family: "NeoRetroFillRegular";
  font-size: 32px;
  display: inline-block;
}
/* line 96, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article header nav {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: inline-block;
  margin-left: 20px;
}
/* line 101, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article header nav ul {
  list-style-type: none;
  margin-bottom: 20px;
}
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article header nav ul, div#main-content #portfolio section#favorites article header nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article header nav ul li:after {
  content: ", ";
}
/* line 31, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article header nav ul li:last-child:after {
  content: "";
}
/* line 34, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article header nav ul li.last:after {
  content: "";
}
/* line 106, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article header nav ul li a:link, div#main-content #portfolio section#favorites article header nav ul li a:visited, div#main-content #portfolio section#favorites article header nav ul li a:active {
  font-family: "NeoRetroFillRegular";
  font-size: 18px;
  color: #555555;
  vertical-align: bottom;
  line-height: 30px;
}
/* line 118, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article main {
  display: block;
  width: 101.19048%;
  margin: 0 -0.59524%;
  *zoom: 1;
  position: relative;
  margin-bottom: 40px;
}
/* line 27, ../_sass/base/_grid.scss */
div#main-content #portfolio section#favorites article main:before, div#main-content #portfolio section#favorites article main:after {
  content: "";
  display: table;
}
/* line 31, ../_sass/base/_grid.scss */
div#main-content #portfolio section#favorites article main:after {
  clear: both;
}
/* line 123, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article main .description {
  display: inline;
  float: left;
  width: 48.80952%;
  margin: 0 0.59524%;
  vertical-align: top;
  height: 100%;
}
/* line 128, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article main .description h3 {
  font-family: "LeagueGothicRegular";
  font-size: 32px;
  padding-left: 50px;
}
/* line 134, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article main .description h3, div#main-content #portfolio section#favorites article main .description p {
  padding-left: 50px;
}
/* line 139, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article main .extras {
  display: inline;
  float: left;
  width: 48.80952%;
  margin: 0 0.59524%;
}
/* line 144, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article nav.main {
  padding: 0 0 60px 50px;
}
/* line 147, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article nav.main ul {
  list-style-type: none;
}
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article nav.main ul, div#main-content #portfolio section#favorites article nav.main ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article nav.main ul li:after {
  content: ", ";
}
/* line 31, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article nav.main ul li:last-child:after {
  content: "";
}
/* line 34, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
div#main-content #portfolio section#favorites article nav.main ul li.last:after {
  content: "";
}
/* line 154, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#mince .image, div#main-content #portfolio section#favorites article#mince .maturity {
  display: inline;
  float: left;
  width: 47.61905%;
  margin: 0 1.19048%;
  text-align: center;
}
/* line 160, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#mince .maturity h3 {
  font-family: "NeoRetroFillRegular";
  font-size: 32px;
  border-bottom: 5px solid #555;
}
/* line 166, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#mince .maturity p {
  padding-top: 20px;
  font-family: "LeagueGothicRegular";
  font-size: 28px;
}
/* line 171, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#mince .maturity p.good {
  color: #007d2c;
}
/* line 174, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#mince .maturity p.bad {
  color: #802d00;
}
/* line 182, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#ionicmobile main .description {
  margin-top: 40px;
}
/* line 189, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#ionicmobile .extras img, div#main-content #portfolio section#favorites article#asynchrony .extras img {
  margin-bottom: 20px;
}
/* line 196, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#bettyelaine .extras {
  text-align: center;
}
/* line 202, ../_sass/pages/_portfolio.scss */
div#main-content #portfolio section#favorites article#fear_in_programming .extras {
  text-align: center;
  vertical-align: baseline;
}

@media (min-width: 600px) and (max-width: 979px) {
  /* line 212, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article a:link, div#main-content #portfolio section#sources article a:visited, div#main-content #portfolio section#sources article a:active {
    padding: 40px 3%;
  }
  /* line 215, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article a:link h2, div#main-content #portfolio section#sources article a:visited h2, div#main-content #portfolio section#sources article a:active h2 {
    font-size: 28px;
  }
  /* line 218, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article a:link p, div#main-content #portfolio section#sources article a:visited p, div#main-content #portfolio section#sources article a:active p {
    font-size: 22px;
  }

  /* line 224, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article main .description, div#main-content #portfolio section#favorites article main .extras {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 228, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article main .extras {
    margin-top: 15px;
  }
  /* line 232, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article main .extras > * {
    padding-left: 50px;
  }
  /* line 236, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article#mince .maturity {
    padding-left: 0;
    width: 35%;
  }
}
@media (max-width: 800px) {
  /* line 244, ../_sass/pages/_portfolio.scss */
  header#main-header {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* line 248, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources {
    text-align: left;
    padding-left: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 255, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article {
    width: auto;
  }
  /* line 259, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article a:link, div#main-content #portfolio section#sources article a:visited, div#main-content #portfolio section#sources article a:active {
    padding: 10px 10px;
  }
  /* line 262, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article a:link h2, div#main-content #portfolio section#sources article a:visited h2, div#main-content #portfolio section#sources article a:active h2 {
    font-size: 20px;
    border-bottom: none;
  }
  /* line 266, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article a:link p, div#main-content #portfolio section#sources article a:visited p, div#main-content #portfolio section#sources article a:active p {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  /* line 276, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources {
    padding-left: 0;
    text-align: center;
  }
  /* line 281, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#sources article a:link h2, div#main-content #portfolio section#sources article a:visited h2, div#main-content #portfolio section#sources article a:active h2 {
    font-size: 14px;
  }

  /* line 288, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article main .description, div#main-content #portfolio section#favorites article main .extras {
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
  /* line 292, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article main .extras {
    margin-top: 15px;
  }
  /* line 296, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article main .extras > * {
    padding-left: 0px;
  }
  /* line 300, ../_sass/pages/_portfolio.scss */
  div#main-content #portfolio section#favorites article#mince .image, div#main-content #portfolio section#favorites article#mince .maturity {
    margin-top: 15px;
    display: inline;
    float: left;
    width: 98.80952%;
    margin: 0 0.59524%;
  }
}
/* line 4, ../_sass/pages/_blog.scss */
#main-content #blog article {
  margin: 0 10px 40px;
}
/* line 7, ../_sass/pages/_blog.scss */
#main-content #blog article header {
  padding-bottom: 5px;
}
/* line 9, ../_sass/pages/_blog.scss */
#main-content #blog article header h1 {
  font-family: "NeoRetroFillRegular";
  font-size: 32px;
  color: #000;
}
/* line 15, ../_sass/pages/_blog.scss */
#main-content #blog article header h1 a:link, #main-content #blog article header h1 a:visited, #main-content #blog article header h1 a:active {
  color: #000;
}
/* line 19, ../_sass/pages/_blog.scss */
#main-content #blog article header h1 a:hover {
  color: #ad3d00;
}
/* line 26, ../_sass/pages/_blog.scss */
#main-content #blog article header ul.meta li {
  font-family: "NeoRetroFillRegular";
  font-size: 18px;
  color: #555555;
}
/* line 32, ../_sass/pages/_blog.scss */
#main-content #blog article header ul.meta li.tags ul {
  list-style-type: none;
}
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#main-content #blog article header ul.meta li.tags ul, #main-content #blog article header ul.meta li.tags ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#main-content #blog article header ul.meta li.tags ul li:after {
  content: ", ";
}
/* line 31, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#main-content #blog article header ul.meta li.tags ul li:last-child:after {
  content: "";
}
/* line 34, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#main-content #blog article header ul.meta li.tags ul li.last:after {
  content: "";
}
/* line 40, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content {
  padding-right: 10%;
}
/* line 42, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content h2, #main-content #blog article .entry-content h3, #main-content #blog article .entry-content h4, #main-content #blog article .entry-content h5, #main-content #blog article .entry-content h6 {
  font-family: "LeagueGothicRegular";
}
/* line 46, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content h2 {
  font-size: 32px;
  margin: 25px 0 20px;
}
/* line 51, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content h3 {
  font-size: 28px;
  margin: 25px 0 20px;
}
/* line 56, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content h4 {
  font-size: 24px;
  margin: 20px 0 15px;
}
/* line 61, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content p, #main-content #blog article .entry-content ul li, #main-content #blog article .entry-content a:link, #main-content #blog article .entry-content a:visited, #main-content #blog article .entry-content a:active {
  font-family: "ArsenalRegular";
  font-size: 20px;
}
/* line 65, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content p strong, #main-content #blog article .entry-content ul li strong, #main-content #blog article .entry-content a:link strong, #main-content #blog article .entry-content a:visited strong, #main-content #blog article .entry-content a:active strong {
  font-family: "ArsenalBold";
}
/* line 69, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content p em, #main-content #blog article .entry-content ul li em, #main-content #blog article .entry-content a:link em, #main-content #blog article .entry-content a:visited em, #main-content #blog article .entry-content a:active em {
  font-family: "ArsenalItalic";
}
/* line 74, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content ul {
  list-style: disc;
  padding: 0 0 0 40px;
}
/* line 79, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content p {
  margin: 15px 0;
}
/* line 83, ../_sass/pages/_blog.scss */
#main-content #blog article .entry-content a:hover {
  text-decoration: underline;
}
/* line 90, ../_sass/pages/_blog.scss */
#main-content #blog .single-post article footer {
  margin: 20px 0;
}
/* line 93, ../_sass/pages/_blog.scss */
#main-content #blog .single-post article footer .meta {
  margin: 10px 0;
}
/* line 99, ../_sass/pages/_blog.scss */
#main-content #blog .posts article {
  padding-bottom: 25px;
  border-bottom: 1px solid #e3dcd1;
}
/* line 105, ../_sass/pages/_blog.scss */
#main-content #blog footer ul li {
  display: inline-block;
  margin: 0 20px;
}

/* line 113, ../_sass/pages/_blog.scss */
#main-content #blog_archive h1, #main-content #blog_tags h1 {
  font-size: 52px;
  font-family: "LeagueGothicRegular";
}
/* line 117, ../_sass/pages/_blog.scss */
#main-content #blog_archive section, #main-content #blog_tags section {
  margin: 50px 0 0 0;
}
/* line 120, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud, #main-content #blog_tags section.tag-cloud {
  padding-right: 10%;
}
/* line 122, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud a, #main-content #blog_tags section.tag-cloud a {
  font-family: "NeoRetroFillRegular";
  padding: 0 10px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-1, #main-content #blog_tags section.tag-cloud .set-1 {
  font-size: 14px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-2, #main-content #blog_tags section.tag-cloud .set-2 {
  font-size: 18px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-3, #main-content #blog_tags section.tag-cloud .set-3 {
  font-size: 22px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-4, #main-content #blog_tags section.tag-cloud .set-4 {
  font-size: 26px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-5, #main-content #blog_tags section.tag-cloud .set-5 {
  font-size: 30px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-6, #main-content #blog_tags section.tag-cloud .set-6 {
  font-size: 34px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-7, #main-content #blog_tags section.tag-cloud .set-7 {
  font-size: 38px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-8, #main-content #blog_tags section.tag-cloud .set-8 {
  font-size: 42px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-9, #main-content #blog_tags section.tag-cloud .set-9 {
  font-size: 46px;
}
/* line 127, ../_sass/pages/_blog.scss */
#main-content #blog_archive section.tag-cloud .set-10, #main-content #blog_tags section.tag-cloud .set-10 {
  font-size: 50px;
}
/* line 131, ../_sass/pages/_blog.scss */
#main-content #blog_archive section:first-child, #main-content #blog_tags section:first-child {
  margin-top: 0;
}
/* line 136, ../_sass/pages/_blog.scss */
#main-content #blog_archive section header h1, #main-content #blog_tags section header h1 {
  font-size: 46px;
}
/* line 144, ../_sass/pages/_blog.scss */
#main-content #blog_archive section article, #main-content #blog_tags section article {
  margin: 10px 40px;
}
/* line 147, ../_sass/pages/_blog.scss */
#main-content #blog_archive section article h2 a:link, #main-content #blog_archive section article h2 a:visited, #main-content #blog_archive section article h2 a:active, #main-content #blog_tags section article h2 a:link, #main-content #blog_tags section article h2 a:visited, #main-content #blog_tags section article h2 a:active {
  font-size: 18px;
  font-family: "NeoRetroFillRegular";
}
/* line 151, ../_sass/pages/_blog.scss */
#main-content #blog_archive section article h2 a:hover, #main-content #blog_tags section article h2 a:hover {
  text-decoration: underline;
}

@media (min-width: 400px) and (max-width: 600px) {
  /* line 160, ../_sass/pages/_blog.scss */
  #main-content #blog article header ul.meta li {
    font-size: 12px;
  }
}
