@import "compass";
@include global-reset;
@include reset-html5;
@import 'grid';
@import 'fonts';
@import 'mixins';

$red: #ad3d00;

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 10;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

/*
 * Global Styles
 */
a{
  &:link, &:visited, &:active{
    text-decoration: none;
  }

  &:hover{
    text-decoration: none;
  }
}

////////////
// LAYOUT //
////////////

// header
header#main-header {
  height: 100px;
  border-bottom: 5px solid #322a26;
  -webkit-box-shadow:  0px 3px 10px 1px #333;
  box-shadow:  0px 3px 10px 1px #333;
  background: url(/images/header_bg.png) 50% 50% no-repeat;
  background-size: 100% auto;

  div{
    @include column(12);
    padding-top: 15px;
    text-shadow: 1px 1px 10px $red;
    filter: dropshadow(color=$red, offx=1, offy=1);

    h1{
      display: inline-block;
      a:link, a:visited, a:active{
        font-family: $leagueGothic;
        color: #000;
        font-size: 90px;
      }
    }
    h2{
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
      margin-top: 30px;
      a:link, a:visited, a:active{
        font-family: $desyrel;
        color: #c49f91;
        font-size: 30px;
      }
    }
  }
}

div#main-content {
  @include clearfix;
  &> div {
	  @include column(12);
    padding-top: 50px;
    padding-bottom: 110px;
  }
}

footer#main-footer {
  @include clearfix;
  border-top: 5px solid #2e2621;
  background: url(/images/footer_bg.png) top left;
  display: block;

  &> div {
  	@include column(12);
    padding-top: 30px;

    p{
      font-family: Helvetica, Arial;
      text-transform: uppercase;
      color: #e5d6b9;
      font-size: 18px;

      a:link, a:visited, a:active{
        color: #f9f9f9;
        text-decoration: none;
      }

      a:hover{
        color: #fff;
        text-decoration: none;
      }
    }

    section#currentProfessionalInterests, 
    section#upcomingEvents{
      @include column(6);

      h1, h2{
        font-family: $leagueGothic;
        color: #f9f9f9;
      }

      h1{
        font-size: 58px;
      }

      h2{
        font-size: 36px;
      }

      article{
        margin-top: 35px;
      }
    }

    section#copyright{
      @include column(12);

      margin-top: 60px;
      text-align: center;
      margin-bottom: 30px;
      p{
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

div#main-content #home{
  section{
    h1{
      @include visuallyHidden;
    }
    article.intro {
      @include column(7, 12);
      padding-top: 40px;

      h2{
        @include imageReplacement('/images/home-heading-text.png');
        width: 360px;
        height: 111px;
        margin: 0 auto 35px;
      }

      p{
        font-family: Helvetica, Arial;
        margin: 0 auto;;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 32px;
        width: 520px;
        
        &.problems{
          letter-spacing: .10em;
        }

        &.pixels{
          letter-spacing: .05em;
          font-size: 16px;
        }
      }

      ul {
        margin-top: 60px;
        margin: 60px auto 0;
        width: 630px;
        li{
          display: inline-block;

          a:link, a:visited, a:active{
            font-family: $leagueGothic;
            font-size: 40px;
            line-height: 70px;
            padding: 0 30px;
            color: #000;
            border-bottom: solid 4px #000;
            margin: 16px;
            font-variant: small-caps;

            @include borderTransition(100ms, ease-in);
          }

          a:hover{
            border-bottom: solid 8px $red;
            color: $red;
            @include transition(color, 300ms, ease-out);
          }
        }
      }
    }

    article.feature{
      @include column(5, 12);
      img{
        width: 100%;
      }
    }
  }
}

@include tabletLandscape {
  div#main-content > div{ 
    #home section article.intro {
      ul{
        width: 450px;
        margin-top: 20px;

        li {
          a:link, a:visited, a:active{
            margin: 4px;
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@include tabletPortrait {
  div#main-content > div{ 
    #home section {
      article.intro, article.feature  {
        @include column(12, 12);
      }
      article.intro ul{
        width: 540px;
        margin-top: 20px;

        li {
          a:link, a:visited, a:active{
            margin: 8px;
            padding: 0 25px;
          }
        }
      }

      article.feature {
        text-align: center;
        img{
          margin-top: 30px;
          width: 80%;
        }
      }
    }
  }
}

@include phoneLandscape {
  header#main-header {
    height: 130px;

    div{
      padding-top: 5px;

      h1{
        text-align: center;
        display: block;
      }

      h2{
        display: block;
        text-align: center;
        height: 20px;
        margin-left: 0;
        margin-top: 0;
        a:link, a:visited, a:active{
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }

  div#main-content > div{ 
    padding-top: 40px;
    padding-bottom: 40px;

    #home section {
      article.intro, article.feature  {
        @include column(12, 12);
      }

      article.intro {
        padding-top: 0;

        h2{
          width: 300px;
          background-size: 300px auto;
          margin-bottom: 10px;
        }

        p, p.pixels, p.problems{
          width: 360px;
          font-size: 11px;
        }

        ul{
          margin-top: 10px;
          width: 320px;

          li a{
            &:link, a:visited, a:active{
              width: 125px;
            }
          }
        }
      }

      article.feature {
        text-align: center;
        img{
          margin-top: 30px;
          width: 80%;
        }
      }
    }
  }
}

@include phonePortrait {
  header#main-header {
    height: 130px;

    div{
      padding-top: 5px;

      h1{
        text-align: center;
        display: block;
      }

      h2{
        display: block;
        text-align: center;
        height: 20px;
        margin-left: 0;
        margin-top: 0;
        a:link, a:visited, a:active{
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }

  div#main-content > div{ 
    padding-top: 40px;
    padding-bottom: 40px;

    #home section {
      article.intro, article.feature  {
        @include column(12, 12);
      }

      article.intro {
        padding-top: 0;

        h2{
          width: 300px;
          background-size: 300px auto;
          margin-bottom: 10px;
        }

        p, p.pixels, p.problems{
          width: 210px;
          font-size: 12px;
        }

        ul{
          margin-top: 10px;
          width: 300px;

          li a{
            &:link, a:visited, a:active{
              width: 105px;
              font-size: 32px;
            }
          }
        }
      }

      article.feature {
        text-align: center;
        img{
          margin-top: 30px;
          width: 80%;
        }
      }
    }
  }
}

