<article>
  <header>
    <h1 class="entry-title">
      {% if page.index %}<a href="{{ root_url }}{{ article.url }}">{% endif %}
      {{ article.title | titlecase }}
      {% if page.index %}</a>{% endif %}
    </h1>
    <ul class="meta">
      {% if article.tags %}
      <li class='tags'>
        <ul>
          {% for tag in article.tags %}
          <li><a href="/blog/tags/{{ tag }}.html">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      <li>{% include post/date.html %}{{ time }}</li>
    </ul>
  </header>

  <div class="entry-content">{{ content }}</div>
</article>
