.box{
	position: relative;
	padding: 10px;
  overflow: hidden;
}

.rounded{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.pink{
	background: rgba(255, 0, 0, .2) !important;
	background: #FDD;
}

.white{
  background: rgba(255, 255, 255, .8) !important;
  background: #E3EBF7;
  border-bottom: 1px solid rgba(150, 150, 150, .5);
  border-right: 1px solid rgba(190, 190, 190, .5);
  border-left: 1px solid rgba(255, 255, 255, .5);
}

.black{
	background: #222;
}

.green{
	background: rgba(0, 255, 0, .2) !important;
	background: #DFD;
}

.blue{
	background: rgba(23, 43, 66, .8) !important;
	background: #172b42;
}
.twitter{
  display: inline;
  float: left;
  overflow-x: hidden;
	width: 100%;
	color: #666666;
}
* html #all_tweets{
  width: 500px;
}
* html .tweet{
  height: 50px;
}
.twitter a{
	color: #395D9B;
}
.twitter a:hover{
	color: #779BDA;
}
.tweets .tweet{
	position: relative;
	margin: 15px 10px 15px 0;
	display: block;
}
.tweets .tweet h2{
  margin-bottom: 10px !important;
}
.tweet .content .image{
	float: left;
	display: block;
	width: 48px;
	height: 48px;
	padding: 0 10px 5px 0;
}
.tweet .content .text{
  margin-left: 60px;
}
.tweets .tweet .meta{
  font-size: 75%;
  margin-left: 60px;
}
.tweets .tweet .meta .author{
  display: inline;
  font-size: 150%;
}
/* Latest Tweets Specific */
.twitter#latest_tweets{
  width: 420px;
	color: #bfb89a;
	margin-left: 10px;
}
.twitter#latest_tweets a{
	color: #bfb89a;
	text-decoration: underline;
}
.twitter#latest_tweets a:hover{
	color: #fff;
}
.twitter#latest_tweets .tweet .content .text{
	line-height: 130%;
}

/* Follow Us Button */
#follow_us_on_twitter{
  position: absolute;
  top: 15px;
  right: 10px;
	height: 68px;
	width: 150px;
}
#follow_us_on_twitter a{
	height: 48px;
	padding-left: 58px;
	background: url(../images/twitter_icon_small.png) no-repeat center left;
	display: block;
	text-decoration: none;
	font-size: 20px;
	line-height: 100%;
}
#follow_us_on_twitter a:hover{
	background: url(../images/twitter_icon_small_over.png) no-repeat center left;
}


/*
 *	Latest Blog Posts Module
 */
#footer_content #blog{
  display: inline;
  float: left;
  margin-right: 10px;
  overflow-x: hidden;
  width: 490px;
	padding: 0 15px 0 0;
	border-right: 1px solid #897366;
}
#footer_content #blog .date{font-size:75%;}
#footer_content .latest_posts a .post {
	position: relative;
	padding: 5px 10px 5px 10px;
  overflow: hidden;
	display: block;
	color: #bfb89a;
	margin: 0;
}

#footer_content .latest_posts a:link, #footer_content .latest_posts a:visited{
	display: block;
	cursor: pointer;
}
#footer_content .latest_posts a:first-child .post{
	border: none;
}
#footer_content .latest_posts #view_all a:link, #footer_content .latest_posts #view_all a:visited{
	color: #bfb89a;
}
#footer_content .latest_posts #view_all a:hover{
	color: #fff;
}
#footer_content .latest_posts a:hover .post{
	background: rgba(255, 255, 255, .2) !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}