#home #logo{
  overflow-x: hidden;
  float: left;
}

#home #title{
	overflow: hidden;
	width: 950px;
	margin: 0 auto;
}
#home #title #company_name{
	display: inline;
	float: left;
	margin-right: 10px;
	width: 470px;
	overflow-x: hidden;
}
#home #title #company_name h1{
	background: url(../images/title_b.png) !important;
	background: url(../images/title_b.jpg);
	height: 345px;
	text-indent: -9999px;
	width: 460px;
}
#home #title #opener{
	width: 350px;
	margin-top: 85px;
	margin-left: 530px;
	padding: 10px 15px 0;
}
#home #title #opener h2{
	line-height: 150%;
}

#home #title #tagline {
	margin: 20px 0 2em;
	width: 910px;
}

* html #home #title #tagline {
	overflow-x: hidden; 
}

#home #title #tagline h1 {
	padding: 20px;
	color: white !important;
	margin: 0; 
	line-height: 110%;
}

#home #office{
	width: 950px;
	margin: 0 auto;
}

#home #office .description{
	width: 390px;
	overflow-x: hidden;
	float: left;
	margin-right: 10px;
	padding: 20px 30px 0 30px;
}

#home #office .description h3{
	line-height: 130%;
}

#home #office .image{
	padding-left: 30px;
	float: left;
	width: 430px;
	overflow-x: hidden;
}

* html #people_projects{
  height: 700px;
}
#home #people_projects #people, #home #people_projects #portfolio{
	width: 462px;
	float: left;
}

#home #people_projects .content{
	padding: 20px;
}

#home #people_projects #people{
	border-right: 1px solid lightblue;
}
#home #people_projects .name h3 a{
  color: #222222 !important;
}
#home #people_projects .image{
	float:right;
	padding-left:1.5em;
}

#home #people_projects #people .person, #home #people_projects #portfolio .project{
	margin-bottom: 3em;
}

/* =Subscription Manager
-------------------------------------------------------------- */
#subscription_manager{
	padding: 0 15px;
}