/* -------------------------------------------------------------- 
   
   Set default typography based on Blueprint
   
   http://code.google.com/p/blueprintcss/
     
-------------------------------------------------------------- */   

body, input, textarea {
	color: #333;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 100% !important;
	font-size: 60%;
	line-height: 150%;
}

caption, th, td{
	font-weight: normal;
	text-align: left;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
	font-weight:normal;
	color: #222222;
	line-height: 120%;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3{
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4{
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5{
	font-size: 1em;
	margin-bottom: 1.5em;
}

h6{
	font-size: 1em;
	font-weight: normal;
}

h2 img, h3 img, h4 img, h5 img, h6 img{
	margin: 0;
}

a:link, a:visited{
	color: #395D9B;
	text-decoration: none;
}

a:hover{
	color: #779BDA;
}