---
layout: default
page_id: home
---
%section
  %h1 Matt Simpson: Software Developer, Designer, Entrepreneur
  %article.intro
    %h2
      Yes I want to... Design &amp; Create &amp; Develop THINGS that make the WORLD better.
    %p.problems I love solving problems &amp; contributing code.
    %p.pixels I want to craft smart, clean, functional pixels for you.
    %ul
      %li
        %a{:href => "/portfolio.html"} Portfolio
      %li
        %a{:href => "/blog/"} Blog
      %li
        %a{:href => "/about_me.html"} About Me
      %li
        %a{:href => "http://twitter.com/coffeencoke"} Twitter
  %article.feature
    %img{:src => "/images/programming-software-engineer-matt-simpson-coffeencoke-bio.png", :title => "Matt Simpson - Coffeencoke"}/
