---
layout: default
title: Portfolio - code, presentations, businesses
page_id: portfolio
nav: true
---

%h1 Professional Sources
%section#sources
  %article
    %a{:href => "https://github.com/{{site.handle}}"}
      %h2 Github
      %p
        view my public code on github
  %article
    %a{:href => "http://twitter.com/{{site.handle}}"}
      %h2 Twitter
      %p
        follow me on twitter
  %article
    %a{:href => "http://coderwall.com/{{site.handle}}"} 
      %h2 Coderwall
      %p
        Check out my coderwall
  %article
    %a{:href => "http://linkedin.com/in/{{site.handle}}"}
      %h2 LinkedIn
      %p
        Stay connected with me
%h1 Favorites
%section#favorites
  %article#mince
    %header
      %h2 Mince
      %nav
        %ul
          %li<>
            %a{href: '#'}<> Code
          %li<>
            %a{href: '#'}<> Open Source
          %li<>
            %a{href: '#'}<> Side Project
    %main
      .description
        %h3 Flexible Object Data Mapping Library
        %p
          For Ruby, supports in memory hash db, MongoDB, and Amazon’s DynamoDB
        %p
          Easy to write support for other databases
        %p
          Decouple your models from your database.
      .extras
        .image
          %img{ src: '/images/uncle-bob-2012-ruby-midwest.png' }
          %p
            Inspired by 
            %a{ href: '#' } Uncle Bob's 2012 Ruby Midwest Keynote
        .maturity
          %h3 Maturity
          %p.good Survives prototyping to medium size applications
          %p.bad Not yet recommended for enterprise size applications
    %nav.main
      %ul
        %li<>
          %a{ href: '#' }<> Read More
        %li<>
          %a{ href: '#' }<> Github
        %li<>
          %a{ href: '#' }<> API Docs
        %li<>
          %a{ href: '#' }<> HashyDB
        %li<>
          %a{ href: '#' }<> Mince Migrator
        %li<>
          %a{ href: '#' }<> Mince MongoDB
        %li<>
          %a{ href: '#' }<> Mince DynamoDB

  %article#ionicmobile
    %header
      %h2 Ionic Mobile
      %nav
        %ul
          %li<>
            %a{href: '#'}<> Main Project
          %li<>
            %a{href: '#'}<> Frameworks
          %li<>
            %a{href: '#'}<> API Development
          %li<>
            %a{href: '#'}<> Asynchrony
    %main
      .description
        %p Develop mobile solutions for corporate needs
        %p Integrate easily with existing legacy data sources
        %p Distribute applications across an enterprise with control in security for mobile devices.
      .extras
        .images
          %ul
            %li
              %a{ href: '#' }
                %img{ src: '/images/portfolio-ionic-mobile.png' }
            %li
              %a{ href: '#' }
                %img{ src: '/images/portfolio-asynchrony.png' }
        %p I lead the team that began developing this project, I have since moved on to leading a new project.  Ionic Mobile is a product owned and developed by Asynchrony.
    %nav.main
      %ul
        %li<>
          %a{ href: '#' }<> Read More
        %li<>
          %a{ href: '#' }<> Ionic Mobile
        %li<>
          %a{ href: '#' }<> Github
        %li<>
          %a{ href: '#' }<> Asynchrony
  %article#bettyelaine
    %header
      %h2 Photography by Betty Elaine
      %nav
        %ul
          %li<>
            %a{ href: '#' }<> Code
          %li<>
            %a{ href: '#' }<> Side Project
          %li<>
            %a{ href: '#' }<> Design
          %li<>
            %a{ href: '#' }<> Business
    %main
      .description
        %h3 Solutions for Wedding Photographer
        %p Design and develop website
        %p Provide solutions for business needs
        %p Continue to grow, strategize, and plan for the business
      .extras
        %a{ href: '#' }
          %img{ src: '/images/portfolio-bettyelaine.png' }
    %nav.main
      %ul
        %li<>
          %a{ href: '#' } Read More
          %a{ href: '#' } Website
  %article
    %h2 Fear In Programming
    %ul.categories
      %li<>
      %a{ href: '#'}<> Presentation
    %p
      This presentation is about fear, and how fear can effect how I make decisions
      in my career as a programmer. My hope is to challenge you, and that you would
      challenge me with ideas on how we can conquer fear, how we can make our projects
      better, our teams stronger, our industry more valuable, and encourage each other
      to become better people.
    %p
      Ever experienced the pain of a God class? I have some theories on how you can,
      among many things, conquer even the God class.
%h1 Freelance Code
%section#freelance-code
  %p These are my latest freelance projects.
  %article
    %h2 Photography by Betty Elaine
    %ul
      %li
        %a{:href => "http://bettyelainephotography.com"} Wedding Photography
      %li Wedding Photographer
    %img{:src => "/images/betty-elaine-photography.png"}/
    %p
      Built in May of 2011, but receives frequent re-alignment of design
      in order to evolve as Betty's business evolves. I developed this
      website using
      %a{:href => "http://middlemanapp.org"} middleman
      so
      that I can develop quickly and still provide fast load times with
      a static website and provided business solutions, like google analytics, email
      submissions using
      %a{:href => "http://aws.amazon.com"}<> Amazon's SES
      ,
      %a{:href => "http://blog.bettyelainephotography.com"} a blog
      that matches a similar style,
      and custom email using her business's domain name.
  %article
    %h2 DMD Brands - Weight Gurus
    %img{:src => "/images/bondstor.png"}/
    %p
      DMD Brands hired me to help kickoff their internal software
      team. I provided a framework to help them understand
      how to develop software professionally for their products in a
      quality way. I interviewed developers, and gave recommendations,
      and I developed software with them to get them started.
    %p
      Weight Gurus is an iphone and android application with a backend
      server, I used phonegap with html5, css, and javascript, for the
      mobile delivery strategy, tested with jasmine, and cucumber. And
      used ruby with Amazon's DynamoDb for the server.
  %article
    %h2 Least Of These Charities
    %img{:src => "/images/least-of-these-charities.png"}/
    %p
      Custom wordpress theme which included custom post types in
      order to present the organization's products differently.
    %p
      Least of these charities is a non-profit organization that
      needed a way to expose their products to buyers online.
  %article
    %h2 Bondstor
    %img{:src => "/images/bondstor.png"}/
    %p
      Bondstor was an idea that a young entrepreneur had to improve
      his industry. We worked closely together to establish a functional
      prototype, and developed a beta version to get approved for use
      and support by his employer.
