@import "compass/typography/lists/inline-list";

#main-content #blog{
  padding-top: 30px;

  .posts > header {
    padding: 0 10px 30px;

    ul li{
      display: inline-block;
      padding: 0 20px;

      &:first-child{
        padding-left: 0;
      }
    }
  }
  article{
    margin: 0 10px 40px;

    header {
      padding-bottom: 5px;
      h1{
        font-family: $neoRetroFill;
        font-size: 32px;
        color: #000;

        a{
          &:link, &:visited, &:active{
            color: #000;
          }

          &:hover{
            color: $red;
          }
        }
      }

      ul.meta {
        li{
          font-family: $neoRetroFill;
          font-size: 18px;
          color: #555555;

          &.tags{
            ul{
              @include delimited-list();
            }
          }
        }
      }
    }

    .entry-content{
      padding-right: 10%;
      h2, h3, h4, h5, h6{
        font-family: $leagueGothic;
      }

      h2{
        font-size: 32px;
        margin: 25px 0 20px;
      }

      h3{
        font-size: 28px;
        margin: 25px 0 20px;
      }

      h4{
        font-size: 24px;
        margin: 20px 0 15px;
      }

      p, ul li, a:link, a:visited, a:active{
        font-family: $arsenal;
        font-size: 20px;

        strong{
          font-family: $arsenalBold;
        }

        em{
          font-family: $arsenalItalic;
        }
      }

      ul {
        list-style: disc;
        padding: 0 0 0 40px;
      }

      p{
        margin: 15px 0;
      }

      a:hover{
        text-decoration: underline;
      }
    }
  }

  .single-post article{
    footer{
      margin: 20px 0;

      .meta{
        margin: 10px 0;
      }
    }
  }

  .posts article{
    padding-bottom: 25px;
    border-bottom: 1px solid #e3dcd1;
  }

  footer{
    ul li{
      display: inline-block;
      margin: 0 20px;
    }
  }
}

#main-content #blog_archive, #main-content #blog_tags{
  h1{
    font-size: 52px;
    font-family: $leagueGothic;
  }
  section{
    margin: 50px 0 0 0;

    &.tag-cloud{
      padding-right: 10%;
      a{
        font-family: $neoRetroFill;
        padding: 0 10px;
      }
      @for $i from 1 through 10 {
        .set-#{$i}{ font-size: 10px + ($i*4); }
      }
    }

    &:first-child{
      margin-top: 0;
    }

    header{
      h1{
        font-size: 46px;

        &:first-child{
        }
      }
    }

    article {
      margin: 10px 40px;
      h2 a{
        &:link, &:visited, &:active{
          font-size: 18px;
          font-family: $neoRetroFill;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

@include phoneLandscape {
  #main-content #blog article header ul.meta li{
    font-size: 12px;
  }
}
