#main-content #blog{
  article{
    margin: 0 10px 40px;

    header {
      padding-bottom: 5px;
      h1{
        font-family: $neoRetroFill;
        font-size: 32px;
        color: #000;

        a{
          &:link, &:visited, &:active{
            color: #000;
          }

          &:hover{
            color: $red;
          }
        }
      }

      ul.meta li{
        font-family: $neoRetroFill;
        font-size: 18px;
        color: #555555;
      }
    }

    .entry-content{
      padding-right: 10%;
      h2, h3, h4, h5, h6{
        font-family: $leagueGothic;
      }

      h2{
        font-size: 32px;
        margin: 15px 0;
      }

      h3{
        font-size: 24px;
        margin: 10px 0;
      }

      p, ul li, a:link, a:visited, a:active{
        font-family: $arsenal;
        font-size: 20px;
      }

      ul {
        list-style: disc;
        padding: 0 0 0 40px;
      }

      p{
        margin: 15px 0;
      }

      a:hover{
        text-decoration: underline;
      }
    }
  }

  .single-post article{
    footer{
      margin: 20px 0;

      .meta{
        margin: 10px 0;
      }
    }
  }

  .posts article{
    padding-bottom: 25px;
    border-bottom: 1px solid #e3dcd1;
  }

  footer{
    ul li{
      display: inline-block;
      margin: 0 20px;
    }
  }
}

#main-content #blog-archives{
  section{
    margin: 50px 0 0 0;

    &:first-child{
      margin-top: 0;
    }

    header{
      h1{
        font-family: $leagueGothic;
        font-size: 46px;

        &:first-child{
        }
      }
    }
    
    article {
      margin: 10px 40px;
      h2 a{
        &:link, &:visited, &:active{
          font-size: 18px;
          font-family: $neoRetroFill;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

@include phoneLandscape {
  #main-content #blog article header ul.meta li{
    font-size: 12px;
  } 
}
