div#main-content #portfolio{
  margin: 0;
  width: 100%;
  padding-top: 0;

  h1{
    @include visuallyHidden;
  }

  h2{
    font-family: $leagueGothic;
    font-size: 24px;
  }

  section{
    margin: 0;
    @include clearfix;
  }

  section#sources {
    background: $light-brown;
    margin: 0;
    z-index: 0;
    border-bottom: 3px solid $dark-brown;
    -webkit-box-shadow:  0px -3px 10px 1px $dark-brown inset;
    box-shadow:  0px -3px 10px 1px $dark-brown inset;
    text-align: center;

    article{
      width: 25%;
      margin: 0;

      a{
        position: relative;
        display: block;
        text-align: center;
        padding: 40px 8%;
        color: $dark-brown;

        $transition-time: 200ms;
        $transition-direction: ease-in;
        h2, p{
          @include single-transition(color, $transition-time, $transition-direction);
        }

        @include single-transition(background, $transition-time, $transition-direction);

        h2{
          font-size: 32px;
          font-family: $neoRetroFill;
          border-bottom: $medium-brown 5px solid;
        }

        p{
          font-size: 24px;
          font-family: $leagueGothic;
        }

        &:hover{
          background: $dark-brown;
          cursor: pointer;
          color: $light-brown;
          p{
            color: $medium-brown;
            text-decoration: none;
          }
        }
      }
    }
  }

  section#favorites{
    @include column(12);
    padding: 50px 0;

    article{
      p{
        color: #555;
      }

      p, a:link, a:visited, a:active {
        font-family: $arsenal;
        font-size: 24px;
      }

      header{
        margin-bottom: 20px;

        h2{
          font-family: $neoRetroFill;
          font-size: 32px;
          display: inline-block;
        }

        nav{
          @include visuallyHidden;
          display: inline-block;
          margin-left: 20px;

          ul{
            @include delimited-list;
            margin-bottom: 20px;

            li{
              a:link, a:visited, a:active{
                font-family: $neoRetroFill;
                font-size: 18px;
                color: #555555;
                vertical-align: bottom;
                line-height: 30px;
              }
            }
          }
        }
      }

      main{
        @include row;
        position: relative;
        margin-bottom: 40px;

        .description{
          @include column(6, 12);
          vertical-align: top;
          height: 100%;

          h3{
            font-family: $leagueGothic;
            font-size: 32px;
            padding-left: 50px;
          }

          h3, p{
            padding-left: 50px;
          }
        }

        .extras{
          @include column(6, 12);
        }
      }

      nav.main{
        padding: 0 0 60px 50px;
        
        ul{
          @include delimited-list;
        }
      }
    }

    article#mince{
      .image, .maturity{
        @include column(3, 6);
        text-align: center;
      }

      .maturity{
        h3 {
          font-family: $neoRetroFill;
          font-size: 32px;
          border-bottom: 5px solid #555;
        }

        p{
          padding-top: 20px;
          font-family: $leagueGothic;
          font-size: 28px;

          &.good{
            color: #007d2c;
          }
          &.bad{
            color: #802d00;
          }
        }
      }
    }

    article#ionicmobile {
      main .description{
        margin-top: 40px;
      }
    }

    article#ionicmobile, article#asynchrony{
      .extras{
        img{
          margin-bottom: 20px;
        }
      }
    }

    article#bettyelaine {
      .extras{
        text-align: center;
      }
    }

    article#fear_in_programming{
      .extras{
        text-align: center;
        vertical-align: baseline;
      }
    }
  }
}

