$red: #ad3d00;

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 10;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

/*
 * Global Styles
 */
a{
  &:link, &:visited, &:active{
    text-decoration: none;
    color: $red;
  }

  &:hover{
    text-decoration: none;
  }
}

p a:hover{
  text-decoration: underline;
}

p, ul li, p a:link, p a:visited, p a:active{
  font-family: $arsenal;
  font-size: 16px;
  line-height: 140%;
}

////////////
// LAYOUT //
////////////

// header
header#main-header {
  height: 100px;
  border-bottom: 5px solid $dark-brown;
  -webkit-box-shadow:  0px 3px 10px 1px $dark-brown;
  box-shadow:  0px 3px 10px 1px $dark-brown;
  background: url(/images/header_bg.png) 50% 50% no-repeat;
  background-size: 100% auto;
  z-index: 10;
  position: relative;

  div{
    padding-top: 15px;
    text-shadow: 1px 1px 10px $red;
    z-index: 10;
    position: relative;
    filter: dropshadow(color=$red, offx=1, offy=1);

    @include column(12);

    h1{
      a:link, a:visited, a:active{
        font-family: $leagueGothic;
        color: #000;
        font-size: 90px;
      }
    }
    h2{
      vertical-align: top;
      margin-top: 30px;
      a:link, a:visited, a:active{
        font-family: $desyrel;
        color: #c49f91;
        font-size: 25px;
      }
    }

    nav{
      float: right;
      ul{
        list-style: none;
        vertical-align: top;
        margin-top: 30px;
        text-align: right;

        li{
          display: inline-block;

          a{
            &:visited, &:active, &:link{
              font-size: 34px;
              font-family: $leagueGothic;
              color: black;
              padding: 6px 6px 2px;
              margin: 17px;
              @include borderTransition(300ms, ease-in);
              text-shadow: 1px 1px 10px $red;
              filter: dropshadow(color=$red, offx=1, offy=1);
            }

            &:hover, &.current{
              border-bottom: 5px solid black;
            }
          }
        }
      }
    }
  }
}

div#main-content {
  @include clearfix;
  &> div {
	  @include column(12);
    padding-top: 50px;
    padding-bottom: 110px;
  }
}

footer#main-footer {
  @include clearfix;
  border-top: 5px solid #2e2621;
  background: #1d1d1d url(/images/footer_bg.png) repeat-x top left;
  display: block;

  $tan: #e5d6b9;
  $offwhite: #f9f9f9;

  &> div {
  	@include column(12);
    padding-top: 30px;

    p{
      font-family: $neoRetroFill;
      text-transform: uppercase;
      color: $tan;
      font-size: 18px;

      a:link, a:visited, a:active{
        color: $offwhite;
        text-decoration: none;
      }

      a:hover{
        color: #fff;
        text-decoration: none;
      }
    }

    section#currentProfessionalInterests, 
    section#upcomingEvents{
      h1, h2{
        font-family: $leagueGothic;
        color: $offwhite;
        letter-spacing: .06em;
      }

      h1{
        font-size: 55px;
      }

      h2{
        font-size: 32px;
      }

      article{
        margin-top: 32px;
      }
    }

    section#currentProfessionalInterests{
      @include column(7);
    }

    section#upcomingEvents{
      @include column(5);

      h2{
        padding-right: 60px;
        color: $tan;
        font-size: 28px;
      }

      p{
        width: 380px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .08em;
        color: $offwhite;

        a{
          &:link, &:visited, &:active{
            color: $tan;
          }
        }
      }
    }

    section#copyright{
      @include column(12);

      margin-top: 60px;
      text-align: center;
      margin-bottom: 30px;
      p{
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

@include tabletLandscape {
  header#main-header div nav ul li a{
    &:link, &:visited, &:active {
      font-size: 20px;
    }
  }
}

@media (max-width: 1052px) {
  header#main-header {
    height: 170px;
    div nav {
      @include column(12, 12);

      ul{
        text-align: left;

        li a{
          &:link, &:visited, &:active{
            font-size: 34px;
          }
        }
      }
    }
  }
}

@include tabletPortrait {
  footer#main-footer > div{
    section#upcomingEvents, section#currentProfessionalInterests {
      @include column(12, 12);
      padding-bottom: 30px;
    }
  }
}

@include phoneLandscape {
  header#main-header {
    height: 130px;
    div{
      padding-top: 5px;

      h1{
        text-align: center;
        display: block;
        padding-top: 10px;
        @include column(12, 12);
        a{
          &:link, &:visited, &:active {
            font-size: 50px;
          }
        }
      }

      h2{
        display: none;
        visibility: hidden;
      }

      nav ul{
        text-align: center;
        li {
          a{
            &:link, &:visited, &:active{
              margin: 0;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  footer#main-footer > div{
    section#upcomingEvents, section#currentProfessionalInterests {
      @include column(12, 12);
      padding-bottom: 30px;

      p{
        width: auto;
      }
    }

    section#copyright{
      p{
        margin-bottom: 20px;
      }
    }
  }
}

@include phonePortrait {
  header#main-header {
    height: 130px;
    div{
      padding-top: 0px;

      h1{
        font-size: 50px;
        text-align: center;
        display: block;
        padding-top: 10px;
        @include column(12, 12);
        a{
          &:link, &:visited, &:active {
            font-size: 50px;
          }
        }
      }

      h2{
        display: none;
        visibility: hidden;
      }

      nav ul{
        text-align: center;
        margin-top: 20px;
        li {
          a{
            &:link, &:visited, &:active{
              margin: 0;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  footer#main-footer > div{
    section#upcomingEvents, section#currentProfessionalInterests {
      @include column(12, 12);
      padding-bottom: 30px;

      p{
        width: auto;
      }
    }

    section#copyright{
      p{
        margin-bottom: 20px;
      }
    }
  }
}

