<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <header id='main-header'>
    <div>
      <h1><a href="/">{{ site.title }}</a></h1>
      {% if site.subtitle %}
        <h2><a href="/">{{ site.subtitle }}</a></h2>
      {% endif %}
      <nav>
        <ul>
          <li><a {% if page.page_id == 'home' %} class='current' {% endif %} href='/'>Home</a></li>
          <li><a {% if page.page_id == 'portfolio' %} class='current' {% endif %} href='/portfolio.html'>Portfolio</a></li>
          <li><a {% if page.page_id == 'blog' %} class='current' {% endif %} href='/blog'>Blog</a></li>
          <li><a href='http://github.com/{{site.handle}}'>Github</a></li>
          <li><a href='http://twitter.com/{{site.handle}}'>Twitter</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id='main-content'>
    <div id='{{page.page_id}}'>
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
</body>

