---
layout: default
title: Blog Tags
page_id: blog_tags
---

<h1>Posts of the '{{ page.tag }}' tagliture</h1>
<p><a href='/blog/tags'>view all tags</a> or <a href='/blog/archives'>view archived posts</a></p>
{% for article in page.posts reverse %}
{% capture this_year %}{{ article.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
{% assign year = this_year %}
{% if open %}
</section>
<section>
{% else %}
<section>
  {% endif %}
  {% assign open = 'yes' %}

  <header>
    <h1>{{ year }}</h1>
  </header>
  {% endunless %}
  <article>
    {% include archive_post.html %}
  </article>
{% endfor %}
</section>
